[Unit]
Description=Tool watcher for Klipper
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/biqu/printer_data/ToolChanger/tool_watcher.py
WorkingDirectory=/home/biqu/printer_data/ToolChanger
Restart=always
User=biqu

[Install]
WantedBy=multi-user.target
